@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches');

.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .App {
    flex-direction: column;
  }
}

